html body {
    background-color:white;
}

#buttons button{
    color:#fff;
    width:140px;
    height: 40px;
}

#nav {
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}


#buttons button:hover {
    color:black;
    border-bottom:1px solid aqua;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

footer {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

#texts p {
    color:black;
}


#texts  h2{
    color:#0095da;
}