body {
    display:inline;
    }
.container {

    padding: 16px;
}
.content {
    text-align: center;
    margin-top: 50px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0095da;
    box-sizing: border-box;
}
input[type = submit] {
    background-color: #0095DA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor:pointer;
    width: 100%;
}


input[type= file] {
    color:black;
    width: 100%;
}


#hidden {
    display:hidden;
}
