html body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.header a {
    text-decoration:none;
    float:right;
    font-size:2rem;
    border-style:groove;
}



.contain {
    margin-top:50px;
    display: flex;
    justify-content:space-around;

}
.dorwoljin {
    width:10%;
    height: 150px;
    border:1px solid #2d6f7a;
    font-weight: bold;
    font-size:60px;  
    text-align: center;
    transition:1s ease-out;
    color:#2d6f7a;  
   
}

.dorwoljin p {
        display:none;
        padding-top:10px;
}
 


